.style-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: red;
}

.item-row {
    color: green;
    width: 200px;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 12px
}

