* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    background-image: url("img/paper.jpg");
    background-position: center;
    background-size: cover;
}

.contenedor {
    width: 700px;
    min-height: 500px;
    background-color: white;
    border: 5px solid black;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

#ingresar-tarea {
    width: 80%;
    height: 50px;
    font-size: 25px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.boton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#lista-de-tareas {
    margin: 30px;
    width: 80%;
    padding: 20px;
    min-height: 50px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tarea {
    width: 90%;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin: 15px;
    display: flex;
    align-items: center;

    input {
        margin-right: 30px;
        width: 20px;
        height: 20px;
    }

    p {
        font-size: 20px;
        text-align: left;
    }
}

.completa {
    text-decoration: line-through;
    color: gray;
}

.trash {
    font-size: 25px;
    margin-left: auto;
    cursor: pointer;
}